body {
    font-family: 'Roboto', sans-serif;
}
h1 {

}
.side-nav {
    background: #eceeef;
    float: left;
    position: absolute;
    top: 53px;
    bottom: 0;
    min-width: 11em;
    width: 20%;
}
.nav-header {
    padding: 1em 0 0 1em;
    border-bottom: 1px solid #ccc;
}
a.nav-link:hover {
    color: white;
}
a.nav-link {
    color: #545454;
}
@media only screen and (max-width: 991px) {
    .content-wrapper {
    padding-left: 11em;
    }
}
@media only screen and (min-width: 991px) {
    .content-wrapper {
    padding-left: 20%;
    }
}

.content-wrapper {
    padding-top: 15px;
}

.nav {
    flex-direction: column;
}

.nav-item:hover {
    background: #bfbfbf;
    border: solid 1px #ccc;
}

.nav-header {
    list-style: none;
    font-weight: bold;
}

.login-card {
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #ccc;
    margin-top: 10em;
    background: #eee;
}

.working {
    background: #0275d8;
}

.working.sub {
    background: #f0ad4e;
}

.working.taken {
    background: #5bc0de;
}

.working.up-for-sub {
    background: #d9534f;
}

.work {
    color: #0275d8;
}
.sub {
    color: #f0ad4e;
}
.taken {
    color: #5bc0de;
}
.up-for-sub {
    color: #d9534f;
}
.pad-right {
    margin-right: 15px;
}
.no-padding {
    padding: 0;
}
.legend {
    background: #ccc;
}
td {
    padding: 10px;
}
.inventory-item {
    color: #000 !important;
}
.inventory-item:hover {
    background: #ccc;
    cursor: pointer;
    text-decoration: none;
}